@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* @media screen and (min-width: 300px){
    body {
        width: 100%;
        height: 100vh;
    }

    main {
        height: 90%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .response {
        background-color: #f5d5dd;
    }

    .response section {
        width: 85%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        border-radius: 20px;
        background-color: #fff;
    }

    .response section p {
        font-weight: bold;
    }

    .form__contenedor {
        width: 90%;
        height: 400px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2 {
        text-align: center;
        margin: 1rem;
    }
    
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    form section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    input {
        width: 85%;
        height: 40px;
        padding: .7rem;
        border-radius: 10px;
        background-color: aliceblue;
    }
    
    .btn {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: .9rem;
        background-color: #fff;
        border: 3px solid aliceblue;
    }
    footer{
        height: 10%;
        display: grid;
        place-items: center;
    }
}

@media screen and (min-width: 500px){
    body {
        width: 100%;
        height: 100vh;
    }

    main {
        height: 90%;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .response {
        background-color: #f5d5dd;
    }

    .response section {
        width: 65%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        border-radius: 20px;
        background-color: #fff;
    }

    .response section p {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .form__contenedor {
        width: 65%;
        height: 400px;
        padding: 1rem;
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        text-align: center;
        margin: 1rem;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    form section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }

    input {
        width: 75%;
        height: 40px;
        padding: .7rem;
        border-radius: 10px;
        background-color: aliceblue;
    }
    
    .btn {
        width: 200px;
        height: 45px;
        border-radius: 10px;
        font-size: .9rem;
        background-color: #fff;
        border: 3px solid aliceblue;
    }

    footer{
        height: 10%;
        display: grid;
        place-items: center;
    }
} */

@media screen and (min-width: 700px){
    body {
        width: 100%;
        height: 100vh;
    }

    header {
        background-color: #9500d2;
        height:  10%;
        display: grid;
        place-items: center;
    }
    
    h1 {
        color: #fff;
        font-weight: 300;
    }

    main {
        height: 82%;
        background-color: #cda4f3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__contenedor {
        width: 45%;
        height: 450px;
        padding: 1rem;
        border: 5px solid #9500d2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        text-align: center;
        margin: 1rem;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;
    }

    form section {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: .2rem;
        margin: 0 auto;
    }

    input, select {
        width: 100%;
        height: 35px;
        padding: .3rem;
        background-color: aliceblue;
        border: 2px solid #9500d2;
    }
    
    .btn {
        width: 90%;
        height: 65px;
        font-size: .9rem;
        background-color: #9500d2;
    }

    footer{
        background-color: #9500d2;
        color: #fff;
        height: 8%;
        display: grid;
        place-items: center;
        font-weight: bold;
    }
}
